@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  width: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 224px calc(100% - 224px);
  grid-template-rows: 6.79% 93.21%;
}
